<sb-layout-dashboard><sb-dashboard-head title="Charts" [hideBreadcrumbs]="false"></sb-dashboard-head>
  <div class="container">
    <h2>Default</h2>
    <ul class="filters-list">
      <li class="filters-list-item" *ngFor="let filter of filters.default">
        {{ filter.name }}
        <div class="toggle-filters">
          <button (click)="updateFilter(filter, true)" [ngClass]="filter.active ? 'active' : ''">ON</button>
          <button (click)="updateFilter(filter, false)" [ngClass]="!filter.active ? 'active' : ''">OFF</button>
        </div>
      </li>
      <li *ngIf="filters.default.length === 0">
        <span>No filters...</span>
      </li>
    </ul>

    <h2>Selected</h2>
    <ul class="filters-list">
      <li class="filters-list-item" *ngFor="let filter of filters.selected">
        {{ filter.name }}
        <div class="toggle-filters">
          <button (click)="updateFilter(filter, true)" [ngClass]="filter.active ? 'active' : ''">ON</button>
          <button (click)="updateFilter(filter, false)" [ngClass]="!filter.active ? 'active' : ''">OFF</button>
        </div>
      </li>
      <li *ngIf="filters.selected.length === 0">
        <span>No filters...</span>
      </li>
    </ul>

    <h2>Custom</h2>
    <ul class="filters-list">
      <li class="filters-list-item" *ngFor="let filter of filters.custom">
        {{ filter.name }}
        <div class="toggle-filters">
          <button (click)="updateFilter(filter, true)" [ngClass]="filter.active ? 'active' : ''">ON</button>
          <button (click)="updateFilter(filter, false)" [ngClass]="!filter.active ? 'active' : ''">OFF</button>
        </div>
      </li>
      <li *ngIf="filters.custom.length === 0">
        <span>No filters...</span>
      </li>
    </ul>
  </div>
</sb-layout-dashboard>
