<div class="filters-container">
  <button class="filter-toggler" type="button" (click)="isFiltersContainerOpen = !isFiltersContainerOpen">
    <span>
      Filters
      <fa-icon *ngIf="!isFiltersContainerOpen" class="filter-icon" [icon]='["fas", "chevron-down"]'></fa-icon>
      <fa-icon *ngIf="isFiltersContainerOpen" class="filter-icon" [icon]='["fas", "chevron-up"]'></fa-icon>
    </span>
  </button>

  <div class="filters-collapsible" [ngbCollapse]="!isFiltersContainerOpen">
    <div *ngIf="filters.default.length > 0" class="input-group mb-3">
      <h3>Status</h3>
      <div>
        <label *ngFor="let filter of filters.default" class="container">{{ filter.name }}
          <input type="radio" value="{{filter.name}}" (click)="handleTestStatusFilterChange($event)"
            name="type-of-test">
          <span class="checkmark"></span>
        </label>
      </div>
    </div>

    <div *ngIf="filters.selected.length > 0" class="input-group mb-3">
      <h3>Namespace</h3>
      <div>
        <label *ngFor="let filter of filters.selected" class="container">{{ filter.name }}
          <input type="radio" value="{{filter.name}}" (click)="handleSelectedFilterChange($event)" name="namespace">
          <span class="checkmark"></span>
        </label>
      </div>
    </div>

    <div *ngIf="filters.custom.length > 0" class="input-group mb-3">
      <h3>Custom</h3>
      <div>
        <label *ngFor="let filter of filters.custom" class="container">{{ filter.name }}
          <input type="radio" value="{{filter.name}}" (click)="handleCustomFilterChange($event)" name="custom">
          <span class="filter-description-tooltip" *ngIf="filter.description">{{filter.description}}</span>
          <span class="checkmark"></span>
        </label>
      </div>
    </div>

    <div class="input-group mb-3">
      <h3>Output Filter</h3>
      <div id="output-filter-container">
        <input class="form-control" type="text" placeholder="Filter by output"
          [(ngModel)]="testResultService.outputFilter" name="output-filter">
        <button class="reset-btn mt-3" type="button" (click)="handleResetFilters()">Reset</button>
      </div>
    </div>
  </div>
</div>
