@import "styles/variables.scss";

form {
  width: 100%;
}

thead > tr th {
  cursor: pointer;
  max-width: 25rem;
  width: 30%;
}

table {
  width: 100%;
}

table > tbody {
  overflow-wrap: anywhere;
  width: 100%;
}

table > tbody > tr > th > a {
  color: black;
}

table > tbody > tr > th > a:hover {
  color: #0056b3;
  text-decoration: none;
  cursor: pointer;
}

.output {
  width: 100%;
  counter-reset: line;

  white-space: pre-line;
}

.output span {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  line-height: 1.2rem;
}

.filter-toggler-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-toggler {
  border: 0;
  background: transparent;
  padding: 0.25rem 0.5rem;

  width: 100%;
  height: 100%;
}

.output-icon-container {
  position: relative;
}

.occurances-popup {
  position: absolute;

  top: -0.65rem;
  right: -1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 1.5rem;
  width: 1.5rem;

  font-size: 0.6rem;
  font-weight: bold;
  text-align: center;

  border-radius: 50%;

  background: #0056b3;
  color: #fff;
}
